/*{
    border: 2px solid red;
}*/



.navbar-container{
 display: flex;
 position: relative;
 justify-content: space-between;
 align-items: center;
}

.list{
    display:flex;
    gap: 20px;
    align-items: flex-start;
}

.grow-list{
    position: absolute;
    left: 200px;
}

li{
    list-style: none;
}

.nav-button{
    margin-right: 20px;
}

.banner-container{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;;
}