*{
    /*border: 2px solid red;*/
    font-family: "poppins", "sans-serif";
}


.container{
    padding: 10px 10px 10px 10px;
}

.navbar-container{
 display: flex;
 position: relative;
 justify-content: space-between;
 align-items: center;
}

.list{
    display:flex;
    gap: 20px;
    align-items: flex-start;
}

.grow-list{
    position: absolute;
    left: 200px;
}

li{
    list-style: none;
}

li:hover{
    font-weight: bold;
}

.nav-button{
    margin-right: 20px;
}

.banner-container{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;;
}

.heading-text{
    display:block;
    font-size: 50px;
    color: #191970;
    word-wrap: break-word;
}

span{
    color:#4169E1;
}

.nav-button{
    color: white;
    background-color: #4169E1;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    border: none;
    margin-top: 50px;
}